aiohttp==3.9.3
aioredis==1.3.1
aiosignal==1.3.2
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
APScheduler==3.10.4
arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
async-timeout==4.0.3
attrs==24.3.0
autobahn==24.4.2
Automat==24.8.1
azure-ai-formrecognizer==3.2.0
azure-common==1.1.28
azure-core==1.26.0
azure-identity==1.12.0
azure-mgmt-automation==1.0.0
azure-mgmt-compute==29.1.0
azure-mgmt-core==1.3.2
azure-mgmt-network==22.2.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==21.0.0
bcrypt==4.0.1
beautifulsoup4==4.12.3
billiard==4.2.1
blis==1.2.0
boto3==1.20.22
botocore==1.23.54
bs4==0.0.1
cabarchive==0.2.4
cachetools==5.5.0
catalogue==2.0.10
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
channels==4.1.0
channels-redis==4.2.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.0
colorama==0.4.6
confection==0.1.5
constantly==23.10.4
coreapi==2.3.3
coreschema==0.0.4
cron-descriptor==1.4.5
cryptography==44.0.0
cssselect2==0.7.0
cx_Logging==3.2.1
cymem==2.0.11
daphne==4.1.2
dataclasses-json==0.6.4
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
Deprecated==1.2.13
diff-match-patch==20230430
distlib==0.3.8
distro==1.9.0
dj-database-url==2.3.0
Django==4.2
django-apscheduler==0.6.2
django-celery-beat==2.7.0
django-cors-headers==4.4.0
django-countries==7.5.1
django-filter==24.3
django-heroku==0.3.1
django-htmx==1.19.0
django-import-export==4.1.1
django-jazzmin==3.0.0
django-modeltranslation==0.18.11
django-multiselectfield==0.1.13
django-rangefilter==0.9.1
django-redis==5.4.0
django-storages==1.12.3
django-tenant-schemas==1.12.0
django-tenants==3.6.1
django-timezone-field==7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
docx2pdf==0.1.8
drf-yasg==1.21.7
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
Faker==37.1.0
filelock==3.16.1
filetype==1.2.0
fire==0.7.0
fonttools==4.56.0
frozenlist==1.5.0
geographiclib==2.0
geopy==2.4.1
google==3.0.0
google-ai-generativelanguage==0.6.10
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
google-cloud-compute==1.29.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.69.0
grpcio-status==1.69.0
gunicorn==22.0.0
h11==0.14.0
hiredis==3.1.0
honcho==1.1.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
httpx-sse==0.4.0
hyperlink==21.0.0
idna==3.8
incremental==24.7.2
inflection==0.5.1
iniconfig==2.1.0
isodate==0.7.2
itypes==1.2.0
Jinja2==3.1.6
jiter==0.9.0
jmespath==0.10.0
joblib==1.5.0
jsonpatch==1.33
jsonpointer==3.0.0
kombu==5.5.1
langchain==0.3.22
langchain-community==0.3.20
langchain-core==0.3.50
langchain-google-genai==2.1.2
langchain-text-splitters==0.3.7
langcodes==3.5.0
langsmith==0.3.23
language_data==1.3.0
lief==0.16.5
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
msal==1.32.0
msal-extensions==1.3.1
msgpack==1.0.8
msrest==0.7.1
multidict==6.2.0
murmurhash==1.0.12
mypy-extensions==1.0.0
nltk==3.9.1
numpy==2.2.4
oauthlib==3.2.2
openai==1.70.0
opencv-python-headless==4.11.0.86
openpyxl==3.1.3
ordered-set==4.1.0
orjson==3.10.16
oscrypto==1.3.0
packaging==24.1
pandas==2.2.3
paypalrestsdk==1.13.3
paystackapi==2.1.3
pdf2docx==0.5.8
pdfminer.six==20250327
pdfplumber==0.11.6
pefile==2023.2.7
pgvector==0.4.0
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
preshed==3.0.9
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.25.0
protobuf==5.29.3
psutil==7.0.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycountry==23.12.11
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
Pygments==2.19.1
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyJWT==2.9.0
pymediainfo==7.0.1
PyMuPDF==1.25.5
pyOpenSSL==25.0.0
pyotp==2.9.0
pyparsing==3.2.1
pypdf==5.4.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pytest==8.3.5
python-barcode==0.15.1
python-bidi==0.6.6
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.1.0
python-http-client==3.3.7
pytz==2024.1
pywin32==310
pywin32-ctypes==0.2.3
PyYAML==6.0.2
qrcode==8.1
redis==5.0.4
regex==2024.11.6
reportlab==4.2.2
requests==2.32.3
requests-aws4auth==1.3.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resend==2.8.0
rich==13.9.4
rsa==4.9
s3transfer==0.5.2
scikit-learn==1.6.1
scipy==1.15.3
sendgrid==6.11.0
service-identity==24.2.0
setuptools==75.2.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.16.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.40
sqlparse==0.5.1
srsly==2.5.1
starkbank-ecdsa==2.2.0
striprtf==0.0.29
svglib==1.5.1
tablib==3.5.0
tenacity==9.1.2
termcolor==3.0.1
thinc==8.3.4
threadpoolctl==3.6.0
tinycss2==1.4.0
tk==0.1.0
tomli==2.2.1
tqdm==4.67.1
Twisted==24.11.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typer==0.15.2
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.2.2
vine==5.1.0
virtualenv==20.26.6
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
whitenoise==6.6.0
wrapt==1.17.2
xhtml2pdf==0.2.17
yarl==1.18.3
zope.interface==7.2
zstandard==0.23.0
