{% load static %}
<header class="app-header top-bar">
    <!-- begin navbar -->
    <nav class="navbar navbar-expand-md">

        <!-- begin navbar-header -->
        <div class="navbar-header d-flex align-items-center">
            <a href="javascript:void:(0)" class="mobile-toggle"><i class="ti ti-align-right"></i></a>
            <a class="navbar-brand" href="{% url 'myAccount' %}">
                <img src="{% static 'assets/img/logo-trans.png' %}"  style="width:210px; margin-left:-20px"   class="img-fluid logo-desktop" alt="logo" />
                <img src="{% static 'assets/img/logo.jpg' %}"   class="img-fluid logo-mobile" alt="logo" />
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ti ti-align-left"></i>
        </button>
        <!-- end navbar-header -->
        <!-- begin navigation -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navigation d-flex">
                <ul class="navbar-nav nav-left">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link sidebar-toggle">
                            <i class="ti ti-align-right"></i>
                        </a>
                    </li>
                    
                    
                    <li class="nav-item full-screen d-none d-lg-block" id="btnFullscreen">
                        <a href="javascript:void(0)" class="nav-link expand">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav nav-right ml-auto">
                    
                    
                    <li class="nav-item">
                        <a class="nav-link search" href="javascript:void(0)">
                            <i class="ti ti-search"></i>
                        </a>
                        <div class="search-wrapper">
                            <div class="close-btn">
                                <i class="ti ti-close"></i>
                            </div>
                            <div class="search-content">
                                <form>
                                    <div class="form-group">
                                        <i class="ti ti-search magnifier"></i>
                                        <input type="text" class="form-control autocomplete" placeholder="Search Here" id="autocomplete-ajax" autofocus="autofocus">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown user-profile">
                        <a href="javascript:void(0)" class="nav-link dropdown-toggle " id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- |Here we are dispplaying the profile picture if it exist or not -->
                                {% if user.is_authenticated and user.get_role == 'Agent'  %}
                                {% if agent.user_profile.profile_picture %}
                                <img class="img-fluid rounded" src="{{agent.user_profile.profile_picture.url }}"  alt="user">
                                                        {% else %}
                                                        <img class="img-fluid rounded" src="{% static 'assets/img/avtar/admin-avatar.png' %} " alt="user">
                                                        {% endif %}
                                    <!-- client sidebar-nav -->
                                 {% elif user.is_authenticated and user.get_role == 'Client'  %}
                                 {% if client.user_profile.profile_picture %}
                                 <img class="img-fluid rounded" src="{{client.user_profile.profile_picture.url }}"  alt="user">
                                                         {% else %}
                                                         <img class="img-fluid rounded" src="{% static 'assets/img/avtar/admin-avatar.png' %} " alt="user">
                                                         {% endif %}
                                    {% else %}

                                    {% if profile.profile_picture %}
                                    <img class="img-fluid rounded" src="{{profile.profile_picture.url }}"  alt="user">
                                                            {% else %}
                                                            <img class="img-fluid rounded" src="{% static 'assets/img/avtar/admin-avatar.png' %} " alt="user">
                                                            {% endif %}
                                {% endif %}
                            <span class="bg-success user-status"></span>
                        </a>
                        <div class="dropdown-menu animated fadeIn" aria-labelledby="navbarDropdown">
                            <div class="bg-gradient px-4 py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="mr-1">
                                        <h4 class="text-white mb-0">{{user.username}}</h4>
                                        <small class="text-white">{{user.email}}</small>
                                    </div>
                                 
                                </div>
                            </div>
                            <div class="p-4">
                                {% if user.is_authenticated and user.get_role == 'Agent'  %}
                                <a class="dropdown-item d-flex nav-link" href="{% url 'agentprofile' %}">
                                    <i class="fa fa-user pr-2 text-success"></i> Profile</a>
                                    <!-- client sidebar-nav -->
                                 {% elif user.is_authenticated and user.get_role == 'Client'  %}
                                 <a class="dropdown-item d-flex nav-link" href="{% url 'clientprofile' %}">
                                    <i class="fa fa-user pr-2 text-success"></i> Profile</a>

                                    {% else %}

                                    <a class="dropdown-item d-flex nav-link" href="{% url 'staffprofile' %}">
                                        <i class="fa fa-user pr-2 text-success"></i> Profile</a>

                                    {% endif %}

                                


                                    <a class="dropdown-item d-flex nav-link" href="{% url 'logout' %}">
                                        <i class="fa fa-sign-out pr-2 text-success"></i> Logout</a>
                               
                                
                                
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end navigation -->
    </nav>
    <!-- end navbar -->
</header>