{% extends "base.html" %}  
{% load static %}
{% block title %} Agent Dashboard {% endblock %}

{% block content %}


  <!-- begin app -->
  <div class="app">
    <!-- begin app-wrap -->
    <div class="app-wrap">

        <!-- begin pre-loader -->
        {% include 'partials/preloader.html' %}
        <!-- end pre-loader -->
       
      
        <!-- begin app-header -->
        {% include 'partials/header.html' %}
        <!-- end app-header -->


        <!-- begin app-container -->
        <div class="app-container">

              <!-- begin app-nabar -->
            {% include 'partials/sidebar.html' %}
                <!-- end sidebar-nav -->
            </aside>
            <!-- end app-navbar -->


            <!-- begin app-main -->
            <div class="app-main" id="main">
                <!-- begin container-fluid -->
                <div class="container-fluid">
                <!-- begin row -->
                    <div class="row">
                        <div class="col-md-12 m-b-30">
                            <!-- begin page title -->
                            <div class="user-welcome d-block d-xl-flex flex-nowrap align-items-center">
                                <div class="bg-img mb-2 mb-xl-0 mr-3">
                                         <!-- |Here we are dispplaying the profile picture if it exist or not -->
                                         {% if profile.profile_picture %}
                                         <img class="img-fluid rounded" src="{{profile.profile_picture.url }}"  alt="user">
                                         {% else %}
                                         <img class="img-fluid rounded" src="{% static 'assets/img/avtar/admin-avatar.png' %} " alt="user">
                                 {% endif %}  </div>
                                <div class="page-title mb-2 mb-xl-0">
                                    <h1 class="mb-1">Welcome, {{user.first_name}} {{user.last_name}} </h1>
                                    <p style="text-transform: uppercase;">Role: {{user.get_role}}</p>
                                </div>
                                <div class="ml-auto d-flex align-items-center secondary-menu text-center">
                                   
                                </div>
                                <div class="ml-xl-4 mt-xl-0 ml-0 mt-3 d-flex align-items-center">
                                    <div class="dropdown">
                                        <a class="btn btn-success" href="#!" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Quick Link   <i class="fa fa-chevron-down"></i>
                                        </a>
                                        <div class="dropdown-menu custom-dropdown dropdown-menu-right dropdown-menu-left-mobile p-4">
                                            <a class="dropdown-item" href="{% url 'agentassignedjobs' %}"><i class="ti ti-layers-alt"></i>My Assigned Jobs</a>
                                            <a class="dropdown-item" href="{% url 'myreport' %}"><i class="ti ti-layers-alt"></i>My Reports </a>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                    </div>
                    <!-- end row -->
                    <!-- begin row -->
                                           <!-- Notification -->
                                         <!-- end row -->
                    <!-- begin row -->
                    <div class="row">
                        <div class="col-xs-6 col-xxl-3 m-b-30">
                           
                            <div data-toggle="tooltip" data-placement="top" title="This is the overall total of Jobs assigned to an Agent"  class=" tooltip-wrapper card card-statistics h-100 m-b-0 bg-orange">
                                <div class="card-body">
                                    <h2 class="text-white mb-0">{{Mytotal_no_ofassigned_jobs}}</h2>
                                    <p class="text-white">Total Assigned Jobs</p>
                                </div>
                            </div>
                      
                        </div>

                        <div class="col-xs-6 col-xxl-3 m-b-30">
                            <a  href="{% url 'agentassignedjobs' %}">
                            <div data-toggle="tooltip" data-placement="top" title="This is the total number of Undone Jobs"  class=" tooltip-wrapper card card-statistics h-100 m-b-0 bg-orange">
                                <div class="card-body">
                                    <h2 class="text-white mb-0">{{MyUndone_jobs}}</h2>
                                    <p class="text-white">Undone Jobs</p>
                                </div>
                            </div>
                        </a>
                        </div>

                        <div class="col-xs-6 col-xxl-3 m-b-30">
                            <div data-toggle="tooltip" data-placement="top" title="This is the Job rejected by an Agent when the Job assigned, is not within area been covered."  class="tooltip-wrapper card card-statistics h-100 m-b-0 bg-danger">
                                <div class="card-body">
                                    <h2 class="text-white mb-0">{{MyRejected_jobs}}</h2>
                                    <p class="text-white">My Rejected Jobs</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-xxl-3 m-b-30">
                            <div data-toggle="tooltip" data-placement="top" title="This is the total number of Done (Verified) Jobs"  class="tooltip-wrapper card card-statistics h-100 m-b-0 bg-primary">
                                <div class="card-body">
                                    <h2 class="text-white mb-0">{{MyDone_jobs}}</h2>
                                    <p class="text-white">Done (Verified) Jobs </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-xxl-3 m-b-30">
                            <div data-toggle="tooltip" data-placement="top" title="This is the total number of Approved Reports."  class="tooltip-wrapper card card-statistics h-100 m-b-0 bg-info">
                                <div class="card-body">
                                    <h2 class="text-white mb-0">{{MyApprovedReports}}</h2>
                                    <p class="text-white">Approved Reports </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-xxl-3 m-b-30">
                            <a  href="{% url 'agentrejectedreports' %}">
                            <div data-toggle="tooltip" data-placement="top" title="This is the total number of Rejected Reports."  class="tooltip-wrapper card card-statistics h-100 m-b-0 bg-danger">
                                <div class="card-body">
                                    <h2 class="text-white mb-0">{{MyRejectedReports}}</h2>
                                    <p class="text-white">Rejected Reports</p>
                                </div>
                            </div>
                            </a>
                        </div>


                        
                    </div>

                    

                               
                                    
                            
                                     </div>
                <!-- end container-fluid -->
            </div>
            <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
       
        <!-- end footer -->
    </div>
    <!-- end app-wrap -->
    {% include 'partials/footer.html' %}
</div>
<!-- end app -->
    {% endblock content %}

