  <!-- Delete Client Modal -->
<div id="deleteClientModal{{client.pk}}" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form>
				<div class="modal-header">						
					<h4 class="modal-title">Delete {{ client.client_name }}?</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">					
                    <p>Are you sure you want to delete <b>{{client.client_name}}</b> Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					 <a href="{%url 'deleteClient' pk=client.pk%}" class="btn btn-danger text-white">Delete</a>
				</div>
			</form>
		</div>
	</div>
</div>

