{% extends "base.html" %}  
{% load widget_tweaks %}
{% load static %}
{% block title %} Staff Dashboard {% endblock %}
{% block content %}
  <!-- begin app -->
  <div class="app">
    <!-- begin app-wrap -->
    <div class="app-wrap">

        <!-- begin pre-loader -->
        {% include 'partials/preloader.html' %}
        <!-- end pre-loader -->
       
      
        <!-- begin app-header -->
        {% include 'partials/header.html' %}
        <!-- end app-header -->


        <!-- begin app-container -->
        <div class="app-container">

              <!-- begin app-nabar -->
            {% include 'partials/sidebar.html' %}
                <!-- end sidebar-nav -->
            </aside>
            <!-- end app-navbar -->

            <div class="app-main" id="main">
                <!-- begin container-fluid -->
                <div class="container-fluid">
                       <div class="row">
                       
                        <div class="col-xxl-8 m-b-30">
                            <div class="card card-statistics h-100 m-b-0">
                                <div class="card-header d-flex justify-content-between">
                                    <div class="card-heading text-end">
                                         <h4 class="card-title">Urgent Reports</h4>             
                                    </div>
                                  
                                </div>
                                <div class="card-body"> 
                                    <h3>Get Urgent Reports!</h3>
                                    <p class="mb-2" style="color:red">Note: Make sure the CIF and Address column in the CSV file are: <b>CIF | Address</b>. This Module searches by Address and CIF which is the JobRefNo/clientJobrefID. </p>
                                    <form method="post" enctype="multipart/form-data" onsubmit="showLoaderReports()">
                                        {% csrf_token %}
                                        <div class="form-group col-md-6">
                                            <label for="exampleInputPassword1">CSV File:</label>
                                            <input type="file" name="csv_file" accept=".csv" class="form-control"  required >
                                        </div>

                                        <div class="form-group col-md-6">
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Retrieve</button>
                                        </div>
                                    </form>

                                    <div class="table-responsive"> 
                                        
                                        <!-- Display messages -->
                                        {% if messages %}
                                        <ul class="messages">
                                            {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        
                                        <!-- Display matched reports in DataTable if available -->
                                        {% if reports %}
                                        <table id="reportsTable">
                                            <thead>
                                                <tr>
                                                    <th>ActivityID  </th>
                                                    <th>CustomerName  </th>
                                                    <th>CustomerAddress </th>
                                                    <th>Ver.Message</th>
                                                    <th>Building Color</th>
                                                    <th>Building Type</th>
                                                    <th>PDF URL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for report in reports %}
                                                <tr>
                                                    <td>{{ report.clientJobrefID }}</td>
                                                    <td>{{ report.customer.first_name }} {{ report.customer.last_name }}</td>
                                                    <td>{{ report.address }}</td>
                                                    <td>{{ report.VerificationMessage }}</td>
                                                    <td>{{ report.buildingColor }}</td>
                                                    <td>{{ report.buildingType }}</td>
                                                    <td>
                                                        <a class="btn btn-success report-link" target="_blank" href="{{ current_domain }}{% url 'reportinPdf' pk=report.pk %}" style="margin-left:15px">
                                                            {{ current_domain }}{% url 'reportinPdf' pk=report.pk %}
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        
                                        <!-- Initialize and configure the DataTable -->
                                        <script>
                                            $(document).ready(function() {
                                                $('#reportsTable').DataTable({
                                                    dom: 'Bfrtip',
                                                    buttons: ['csv']
                                                });
                                            });
                                        </script>
                                        {% else %}
                                        {% if no_reports_found %}
                                            <!-- Message when no reports are found -->
                                            <p class="alert alert-info">No urgent reports found.</p>
                                        {% endif %}
                                    {% endif %}      </div>

                                    <!-- Loader for Urgent Reports -->
                                    <div id="loadingImageReports" class="text-center" style="display: none;">
                                        <img src="{% static 'assets/processingReportapproval.gif' %}" alt="Loading..." /> Retrieving Urgent Reports...
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container-fluid -->
            </div>
            <!-- end app-main -->      
            <!-- end container-fluid -->
              
            <!-- end app-main -->
        </div>
        <!-- end app-container -->
        <!-- begin footer -->
       
        <!-- end footer -->
    </div>
    <!-- end app-wrap -->
    {% include 'staffs/jobs/modals.html' %}
    {% include 'partials/footer.html' %}
</div>
<!-- end app -->
<script>
    function showLoaderReports() {
        // Display the loader when the form is submitted
        document.getElementById('loadingImageReports').style.display = 'block';
    }
</script>
{% endblock content %}